<h4><strong>家電一覧</strong></h4>
<table>
  <% genres.each do |genre| %>
    <tbody>
      <tr>
        <td>
          <%= link_to genre.name, genre_path(genre.id), method: :get %>
        </td>
        <td>
          <%= genre.posts.count %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>