<div class="container p-3">
  <div class="row">
  <div class="col-md-3 col-md-offset-1">
    <%= render 'genre', genres: @genres %>
  </div>

  <div class="col-md-8">
    <h3><% @genre.name %>一覧（全<% @genre.post.count %>件）</h3>

    <div class="search-items d-flex flex-wrap">
      <% @posts.each do |post| %>
      <div class="search-post mr-2">
        <%= link_to post_path(item.id) do %>
          <%= image_tag post.get_image(150,110)  %><br>
          <%= post.title %><br>
        <% end %>
        <!--¥<%#= number_to_currency(item.excluding_tax_price, delimiter: ',', format: '¥ %n', precision: 0) %>-->
      </div>
      <% end %>
    </div>
    <!--<%#= paginate @items, theme: 'page' %>-->
  </div>

  </div>
</div