@use '~bootstrap/scss/bootstrap';

// 全体の背景色
body {
  background-color: #F4F4F4;
}

// フッター
footer {
  position: sticky;
  margin-bottom: 0px;
  margin-top: 50px;
  top: 100vh;
  width: 100%;
  height: 80px;
  text-align:center;
  background-color: #FFFFFF;
}

// ヘッダー
header {
  background-color: #FFFFFF;
}


// user編集ページ
.form-group{
  margin-bottom: 20px;
}

// ジャンル検索
.genre_search{
  margin-top: 23px;
  margin-left: 10px;
}
// 投稿フォーム（ジャンル）
#custom_genre_select {
  height: 30px;
  width: 240;
  margin-top: 7px;
}

.custom-text-area {
  height: 150px; 
}

#post_introduction{
  height: 120px;
}

#post_title{
  height: 31px;
}

